.footer {
  background: #a9a19e;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    a {
      color: rgba(0, 0, 0, 0.75);
      font-family: 'Fira sans bold';
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-bottom-space {
    background-color: #777574;
    min-height: 15rem;
  }
}
