.nav {
  height: 10vh;
  z-index: 2;
  @media (max-width: 500px) {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    margin: auto;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: #8d8d8d;
        font-family: 'Fira sans bold';
        font-size: 1.1rem;
        transition: all 200ms ease-in-out;
        &:hover {
          color: #000000;
        }
      }
    }
    .selected-link {
      color: #000000;
    }
  }
}

.nav-about {
  @extend .nav;
  background: #ffffff;
}
