/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira sans regular";
  src: url("./fonts/Fira_Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Frank ruhl libre regular";
  src: url("./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf");
}
@font-face {
  font-family: "Frank ruhl libre black";
  src: url("./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Black.ttf");
}
body {
  font-family: "Fira sans regular";
  background: #ebebeb;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 200ms;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

.hero {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "main-content side-content-top" "main-content side-content-bottom";
}
@media (max-width: 766px) {
  .hero {
    grid-template-areas: "main-content main-content" "side-content-top side-content-bottom";
  }
}
@media (max-width: 500px) {
  .hero {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "main-content" "side-content-top" "side-content-bottom";
  }
}
.hero .hero-left {
  grid-area: main-content;
  background: #c7ddea;
  position: relative;
}
.hero .hero-left .left-text-content {
  width: 90%;
  margin: auto;
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero .hero-left .left-text-content h1 {
  margin-top: 4rem;
  font-family: "Frank ruhl black";
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 802px) {
  .hero .hero-left .left-text-content h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content h1 {
    text-align: center;
    margin-top: 1rem;
  }
}
.hero .hero-left .left-text-content p {
  line-height: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 766px) {
  .hero .hero-left .left-text-content p {
    width: 70%;
    line-height: 1.75rem;
  }
}
@media (max-width: 627px) {
  .hero .hero-left .left-text-content p {
    width: 50%;
    line-height: 1.75rem;
  }
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content p {
    width: auto;
    text-align: center;
  }
}
.hero .hero-left .left-text-content p span {
  color: #ffffff;
}
.hero .hero-left .left-text-content a {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content a {
    margin-bottom: 2rem;
  }
}
.hero .hero-left img {
  padding-right: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 330px;
}
@media (max-width: 766px) {
  .hero .hero-left img {
    height: auto;
  }
}
@media (max-width: 500px) {
  .hero .hero-left img {
    position: static;
    padding: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}
.hero .hero-right-top, .hero .hero-right-bottom {
  grid-area: side-content-top;
  background: #f17949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-right-top p, .hero .hero-right-bottom p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
@media (max-width: 500px) {
  .hero .hero-right-top p, .hero .hero-right-bottom p {
    padding: 3rem 0rem 1.5rem 0rem;
    margin: 0;
  }
}
.hero .hero-right-top h3, .hero .hero-right-bottom h3 {
  font-size: 2rem;
  font-family: "Frank ruhl libre black";
  font-weight: 900;
  color: #ffffff;
}
@media (max-width: 500px) {
  .hero .hero-right-top, .hero .hero-right-bottom {
    padding-bottom: 3rem;
  }
}
.hero .hero-right-bottom {
  grid-area: side-content-bottom;
  background: #fab131;
}

.nav {
  height: 10vh;
}
@media (max-width: 500px) {
  .nav {
    display: none;
  }
}
.nav ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  margin: auto;
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul li a {
  text-decoration: none;
  color: #8d8d8d;
  font-weight: 600;
  font-size: 1.1rem;
}
.nav ul li:first-child a {
  color: #000000;
}

/*# sourceMappingURL=main.css.map */
