@import 'reset';

@import 'media-queries';

$btn-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
$btn-radius: 100px;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Fira sans regular';
  src: url('./fonts/Fira_Sans/FiraSans-Regular.ttf');
  font-family: 'Fira sans bold';
  src: url('./fonts/Fira_Sans/FiraSans-Bold.ttf');
}

@font-face {
  font-family: 'Frank ruhl libre bold';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf');
  font-family: 'Frank ruhl libre black';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Black.ttf');
}

body {
  font-family: 'Fira sans regular';
  background: #ebebeb;
}

.container {
  padding: 0% 8%;
  @media (max-width: 1140px) {
    padding: 0;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Fira sans bold';
  padding: 0.8rem 2rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 200ms;
  box-shadow: $btn-shadow;
  &:hover {
    background-color: darken(#ffffff, 5%);
    transform: scale(1.05);
  }
}

h1 {
  font-family: 'Frank ruhl libre black';
}

@import 'hero';
@import 'nav';
@import 'body';
@import 'how-it-works';
@import 'footer';
@import 'about-header';
@import 'about-contact';
@import 'about-map';
@import 'about-footer';
