/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Fira sans regular";
  src: url("./fonts/Fira_Sans/FiraSans-Regular.ttf");
  font-family: "Fira sans bold";
  src: url("./fonts/Fira_Sans/FiraSans-Bold.ttf");
}
@font-face {
  font-family: "Frank ruhl libre bold";
  src: url("./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf");
  font-family: "Frank ruhl libre black";
  src: url("./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Black.ttf");
}
body {
  font-family: "Fira sans regular";
  background: #ebebeb;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  text-transform: uppercase;
  transition: all 200ms;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

h1 {
  font-family: "Frank ruhl libre black";
}

.hero {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "main-content side-content-top" "main-content side-content-bottom";
}
@media (max-width: 766px) {
  .hero {
    grid-template-areas: "main-content main-content" "side-content-top side-content-bottom";
  }
}
@media (max-width: 500px) {
  .hero {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas: "main-content" "side-content-top" "side-content-bottom";
  }
}
.hero .hero-left {
  grid-area: main-content;
  background: #c7ddea;
  position: relative;
}
.hero .hero-left .left-text-content {
  width: 90%;
  margin: auto;
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.hero .hero-left .left-text-content h1 {
  margin-top: 4rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 802px) {
  .hero .hero-left .left-text-content h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content h1 {
    text-align: center;
    margin-top: 1rem;
  }
}
.hero .hero-left .left-text-content p {
  line-height: 2rem;
  margin-bottom: 2rem;
  font-family: "Fira sans bold";
  color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 766px) {
  .hero .hero-left .left-text-content p {
    width: 70%;
    line-height: 1.75rem;
  }
}
@media (max-width: 627px) {
  .hero .hero-left .left-text-content p {
    width: 50%;
    line-height: 1.75rem;
  }
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content p {
    width: auto;
    text-align: center;
  }
}
.hero .hero-left .left-text-content p span {
  color: #ffffff;
}
.hero .hero-left .left-text-content a {
  position: relative;
  z-index: 2;
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .hero .hero-left .left-text-content a {
    margin-bottom: 2rem;
  }
}
.hero .hero-left img {
  padding-right: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 330px;
  z-index: 1;
}
@media (max-width: 766px) {
  .hero .hero-left img {
    height: auto;
  }
}
@media (max-width: 500px) {
  .hero .hero-left img {
    position: static;
    padding: 0;
    bottom: 0;
    display: block;
    margin: auto;
  }
}
.hero .hero-right-top, .hero .hero-right-bottom {
  grid-area: side-content-top;
  background: #f17949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-right-top p, .hero .hero-right-bottom p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-family: "Fira sans bold";
  color: rgba(0, 0, 0, 0.75);
}
@media (max-width: 500px) {
  .hero .hero-right-top p, .hero .hero-right-bottom p {
    padding: 3rem 0rem 1.5rem 0rem;
    margin: 0;
  }
}
.hero .hero-right-top h3, .hero .hero-right-bottom h3 {
  font-size: 2rem;
  font-family: "Frank ruhl libre black";
  font-weight: 900;
  color: #ffffff;
}
@media (max-width: 500px) {
  .hero .hero-right-top, .hero .hero-right-bottom {
    padding-bottom: 3rem;
  }
}
.hero .hero-right-bottom {
  grid-area: side-content-bottom;
  background: #fab131;
}

.nav {
  height: 10vh;
}
@media (max-width: 500px) {
  .nav {
    display: none;
  }
}
.nav ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 80%;
  margin: auto;
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul li a {
  text-decoration: none;
  color: #8d8d8d;
  font-weight: 600;
  font-size: 1.1rem;
}
.nav ul li:first-child a {
  color: #000000;
}

.body {
  min-height: 120vh;
}
.body .body-top {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #a9a19e;
  min-height: 75vh;
}
@media (max-width: 766px) {
  .body .body-top {
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 1rem;
  }
}
.body .body-top .body-top-left {
  width: 90%;
  margin: 4rem auto;
}
@media (min-width: 1005px) {
  .body .body-top .body-top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 766px) {
  .body .body-top .body-top-left {
    margin: 1rem auto;
    text-align: center;
  }
}
.body .body-top .body-top-left h1 {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 3rem;
}
@media (min-width: 1005px) {
  .body .body-top .body-top-left h1 {
    text-align: center;
  }
}
@media (max-width: 766px) {
  .body .body-top .body-top-left h1 {
    margin: 1rem auto;
    font-size: 3rem;
  }
}
@media (max-width: 766px) {
  .body .body-top .body-top-left a {
    display: none;
  }
}
.body .body-top .body-top-right {
  width: 90%;
  margin: 4rem auto;
}
@media (max-width: 766px) {
  .body .body-top .body-top-right {
    margin: 0 auto;
    text-align: center;
  }
}
.body .body-top .body-top-right p {
  line-height: 2rem;
  font-family: "Fira sans bold";
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 766px) {
  .body .body-top .body-top-right p {
    width: 90%;
    margin: auto;
  }
}
.body .body-bottom {
  background-color: #fab131;
  min-height: 80vh;
}
@media (max-width: 766px) {
  .body .body-bottom {
    min-height: auto;
  }
}
.body .body-bottom .card-container {
  display: flex;
  justify-content: space-around;
  transform: translateY(-25%);
}
@media (min-width: 943px) {
  .body .body-bottom .card-container {
    transform: translateY(-40%);
  }
}
@media (max-width: 766px) {
  .body .body-bottom .card-container {
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    background-color: #a9a19e;
    padding-bottom: 1.5rem;
    transform: translateY(-1px);
  }
}
.body .body-bottom .card-container .card {
  background-color: #ffffff;
  max-width: 25%;
  min-width: 230px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
@media (max-width: 766px) {
  .body .body-bottom .card-container .card {
    margin-top: 3rem;
    max-width: 75%;
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .body .body-bottom .card-container .card {
    margin-top: 3rem;
    max-width: 85%;
  }
}
.body .body-bottom .card-container .card img {
  display: block;
  width: 90%;
  max-width: 330px;
  margin: auto;
  transform: translateY(-10%);
}
@media (max-width: 766px) {
  .body .body-bottom .card-container .card img {
    max-width: 420px;
  }
}
.body .body-bottom .card-container .card .card-body {
  padding: 1rem;
}
.body .body-bottom .card-container .card .card-body h4 {
  font-family: "Frank ruhl libre bold";
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
.body .body-bottom .card-container .card .card-body p {
  text-align: center;
  line-height: 1.75rem;
  font-family: "Fira sans bold";
  color: rgba(0, 0, 0, 0.5);
}
.body .body-bottom .body-bottom-text {
  transform: translateY(-20%);
  padding-top: 1.5rem;
}
@media (min-width: 943px) {
  .body .body-bottom .body-bottom-text {
    transform: translateY(-35%);
  }
}
@media (max-width: 766px) {
  .body .body-bottom .body-bottom-text {
    transform: translateY(0);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
.body .body-bottom .body-bottom-text h1 {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}
.body .body-bottom .body-bottom-text p {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Fira sans bold";
}
@media (max-width: 766px) {
  .body .body-bottom .body-bottom-text p {
    width: 85%;
  }
}
.body .body-bottom .body-bottom-text .paragraph-one {
  margin-bottom: 1.5rem;
}

.how-it-works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 766px) {
  .how-it-works {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .how-it-works {
    grid-template-columns: 1fr;
  }
}
.how-it-works .box {
  position: relative;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-it-works .box h4 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-family: "Frank ruhl libre black";
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: -0.02rem;
}
.how-it-works .box p {
  text-align: center;
  max-width: 90%;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Fira sans bold";
}
.how-it-works .box-one {
  background-color: #c7ddea;
}
.how-it-works .box-one h2 {
  font-family: "Frank ruhl libre black";
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -0.02rem;
  text-align: center;
  max-width: 90%;
}
.how-it-works .box-two {
  background: #ffffff;
}
.how-it-works .box-four {
  background: #ffffff;
}
.how-it-works .box-five {
  background: #f17949;
}
.how-it-works .box-six {
  background: #ffffff;
}

.footer {
  background: #a9a19e;
}
.footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
}
.footer p a {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Fira sans bold";
  text-decoration: none;
}
.footer p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
